# Ignore everything recursively...
*

# But not the .{ts,js,cjs,html,css,vue,json,md} files
!*.ts
!*.js
!*.cjs
!*.html
!*.css
!*.vue
!*.json
!*.md

# But still ignore dist and demo/dist
dist/**
demo/dist/**

# And the stats.html file (both lib's and demo's)
stats.html
demo/stats.html

# Check subdirectories too
!*/